    body {
      background-color: black;
    }

    header {
      text-align: center;
      color: white;
      font-family: 'Stalinist One', cursive;
      font-size: 35px;
    }

    section {
      display: flex;
      justify-content: center;
      height: 500px;
      border-radius: 6px;
      margin: 50px;
      box-shadow: 2px 2px 30px 20px white;
    }

    div {
      display: flex;
      flex-flow: column;
      text-align: center;
      padding: 50px;
      width: 100%;
    }

    #bild {
      align-self: center;
      width: 200px;
      height: 200px;
      background-size: contain;
      border: 1px solid black;
      border-radius: 100px;
      box-shadow: 0px 0px 10px white;
      background-image: url("../img/wurfel.png");
    }

    footer {
      text-align: center;
      color: white;
      padding: 50px;
    }

    p {
      color: white;
      font-family: 'Stalinist One', cursive;
      padding: 30px;
    }

    /* Animation */

    .wuerfelAnimation {
      transform: wuerfelAnimation(40deg);
      animation: wuerfelAnimation 1.5s;
      animation-timing-function: ease-in-out;
      background-image: url("./img/wurfel.png");
    }

    @keyframes wuerfelAnimation {
      0% {
        transform: scale(1) rotate(0deg);
      }
      40% {
        transform: scale(1.5) rotate(360deg);
      }
      100% {
        transform: scale(1) rotate(0deg);
      }
    }

    /* Breakpoints */

    @media only screen and (max-width: 600px) {
      #msg {
        font-size: 15px;
        padding: 15px;
        text-align: center;
      }
      header {
        font-size: 25px;
      }
      #bild {
        width: 90px;
        height: 90px;
        border-radius: 50%
      }
      section {
        height: 400px;
      }
      footer {
        font-size: 13px;
        margin: 0;
        padding: 0;
      }
      p {
        padding: 15px;
      }
    }

    /* Kleines Gerät (portrait tablets and large phones, 600px and up) */

    @media only screen and (min-width: 600px) {}

    /* Mittleres Gerät (landscape tablets, 768px and up) */

    @media only screen and (min-width: 768px) {}

    /* Großes Gerät (laptops/desktops, 992px and up) */

    @media only screen and (min-width: 992px) {
      .example {
        background: orange;
      }
    }

    /* Sehr großes Gerät (large laptops and desktops, 1200px and up) */

    @media only screen and (min-width: 1200px) {
      .example {
        background: pink;
      }
    }